## Combining Dataset 
- Combine various ad dataset, add class variable and combine it to single dataset

In [2]:
import pandas as pd

### Combine Various Ad Datasets

In [47]:
ad_sites = pd.read_csv("../raw-dataset/adservers.txt", skiprows=10, sep=" ", usecols=[1], names=["domain"])

print (ad_sites.size)

ad_sites.head()

42292

                           domain
0  0001-cab8-4c8c-43de.reporo.net
1        002-slq-470.mktoresp.com
2        004-btr-463.mktoresp.com
3         005.free-counters.co.uk
4         006.free-counters.co.uk

In [49]:
simple_ad = pd.read_csv("../raw-dataset/simple_ad.txt", skiprows=3, names=["domain"])

print (simple_ad.size)

simple_ad.head()

2701

         domain
0    101com.com
1  101order.com
2  123found.com
3  140proof.com
4    180hits.de

In [50]:
admiral = pd.read_csv("../raw-dataset/Admiral.txt", names=["domain"])

print (admiral.size)

admiral.head()

636

                                   domain
0  184.48.190.35.bc.googleusercontent.com
1  202.90.190.35.bc.googleusercontent.com
2  246.39.190.35.bc.googleusercontent.com
3                            2znp09oa.com
4  42.219.186.35.bc.googleusercontent.com

In [51]:
prigent_ads = pd.read_csv("../raw-dataset/Prigent-Ads.txt", names=["domain"])

print (prigent_ads.size)

prigent_ads.head()

3670

           domain
0  0nlinemeds.com
1   1-2-money.com
2      101com.com
3    101order.com
4   103092804.com

In [56]:
frames = [ad_sites, prigent_ads, simple_ad]

ad_domains = pd.concat(frames)

print(ad_domains.size)

ad_domains.head()

48663

                           domain
0  0001-cab8-4c8c-43de.reporo.net
1        002-slq-470.mktoresp.com
2        004-btr-463.mktoresp.com
3         005.free-counters.co.uk
4         006.free-counters.co.uk

In [59]:
ad_domains = ad_domains.drop_duplicates()

In [60]:
ad_domains

                              domain
0     0001-cab8-4c8c-43de.reporo.net
1           002-slq-470.mktoresp.com
2           004-btr-463.mktoresp.com
3            005.free-counters.co.uk
4            006.free-counters.co.uk
...                              ...
2685                        yume.com
2690    zde-affinity.edgecaching.net
2692                   zeepmedia.com
2698                     zintext.com
2700                      zumobi.com

[46229 rows x 1 columns]

In [64]:
ad_domains.isnull().values.any()

False

## Normal Sites from Alexa Top 1M

In [66]:
normal_sites = pd.read_csv("../raw-dataset/top-1m.csv", usecols=[1], names=["domain"])

print(normal_sites.size)

normal_sites.head()

581685

        domain
0   google.com
1  youtube.com
2    baidu.com
3    zhihu.com
4   taobao.com

In [67]:
normal_sites.drop_duplicates()

                        domain
0                   google.com
1                  youtube.com
2                    baidu.com
3                    zhihu.com
4                   taobao.com
...                        ...
581680        xdesirecamsx.com
581681       yourcodercamp.com
581682  yourhealthfromhome.com
581683             yunella.com
581684              zapsend.co

[581685 rows x 1 columns]

In [68]:
normal_sites.isnull().values.any()

False

## Add class variable

In [73]:
normal_sites['class'] = 0
ad_domains['class'] = 1

In [74]:
normal_sites.head()

        domain  class
0   google.com      0
1  youtube.com      0
2    baidu.com      0
3    zhihu.com      0
4   taobao.com      0

### Merge Datasets

In [75]:
frames = [normal_sites, ad_domains]

merged_ds = pd.concat(frames)

print(merged_ds.size)

merged_ds.head()

1255828

        domain  class
0   google.com      0
1  youtube.com      0
2    baidu.com      0
3    zhihu.com      0
4   taobao.com      0

In [76]:
merged_ds.to_csv("../raw-dataset/merged.csv")