In [1]:
import pandas as pd
import matplotlib.pyplot as plt 

df = pd.read_csv("../processed-datasets/metainfo_decompressed.csv", sep="$")

df.head()

,class,url,status_code,meta_info
0,0,https://crowdyfan.com/,200,Crowdyfan Sports News Nutrition More
1,0,https://dreamaways.com/,403,403 Forbidden
2,0,https://www.worldtravelserver.com/,200,London travel agencies United Kingdom weather ...
3,0,https://www.baarty.com/,200,Soluciones Para Bares Baartycom
4,0,https://ladamotors63.ru/,200,Lada Motors

In [2]:
df['length'] = df['url'].apply(lambda x: len(x))

In [3]:
df['nb_hyphen'] = df['url'].apply(lambda x: x.count("-"))

In [4]:
df['nb_cdn'] = df['url'].apply(lambda x: x.count("cdn"))

In [5]:
def count_digits(string):
    occurence = 0
    for char in string:
        if char.isdigit() == True:
            occurence += 1
    return occurence

df['nb_digits'] = df['url'].apply(count_digits)

In [6]:
def count_adword(string):
    occurence = 0
    
    if "ads" in string:
        occurence += 1
    elif "ad" in string:
        occurence += 1
    
    if "tracker" in string:
        occurence += 1
    
    return occurence

df['nb_adword'] = df['url'].apply(count_adword)

In [7]:
df['nb_subdomains'] = df['url'].apply(lambda x: x.count(".") - 1)

In [8]:
df.head()

,class,url,status_code,meta_info,length,nb_hyphen,nb_cdn,nb_digits,nb_adword,nb_subdomains
0,0,https://crowdyfan.com/,200,Crowdyfan Sports News Nutrition More,22,0,0,0,0,0
1,0,https://dreamaways.com/,403,403 Forbidden,23,0,0,0,0,0
2,0,https://www.worldtravelserver.com/,200,London travel agencies United Kingdom weather ...,34,0,0,0,0,1
3,0,https://www.baarty.com/,200,Soluciones Para Bares Baartycom,23,0,0,0,0,1
4,0,https://ladamotors63.ru/,200,Lada Motors,24,0,0,2,1,0

In [9]:
df[df["class"] == 0]

,class,url,status_code,meta_info,length,nb_hyphen,nb_cdn,nb_digits,nb_adword,nb_subdomains
0,0,https://crowdyfan.com/,200,Crowdyfan Sports News Nutrition More,22,0,0,0,0,0
1,0,https://dreamaways.com/,403,403 Forbidden,23,0,0,0,0,0
2,0,https://www.worldtravelserver.com/,200,London travel agencies United Kingdom weather ...,34,0,0,0,0,1
3,0,https://www.baarty.com/,200,Soluciones Para Bares Baartycom,23,0,0,0,0,1
4,0,https://ladamotors63.ru/,200,Lada Motors,24,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...
73766,0,https://taranesaz.com/,200,,22,0,0,0,0,0
73767,0,http://ilkhabergazetesi.tv/,404,404 Not Found,27,0,0,0,0,0
73768,0,https://smk-ypc.sch.id/,200,Portal SMK YPC Tasikmalaya Sistem Informasi S...,23,1,0,0,0,1
73769,0,https://hantooshzadeh.ir/,200,,25,0,0,0,1,0
73770,0,https://kiasky.net/,200,,19,0,0,0,0,0

In [10]:
df.to_csv("../processed-datasets/feature-dataset.csv", sep="$", index=False)

In [70]:
plt.show()